.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title{
  margin-top: 10rem;
  text-align: center;
  font-size: 3rem;
  text-align: center;
  text-transform: none;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: var(--sand-Dollar);
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: var(--light-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 14px;
  font-weight: bold;
  color: var(--light-color);
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 0.5rem;
}
.lsItem>span{
  height: 30px;
  font-size: 12px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionText>small {
  font-weight: bold;
  font-style: italic;
  margin: 5px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listSearch>button{
  padding: 0.5rem 1rem;
  background-color: var(--burnt-Orange);
  color: white;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  transition: all .5s ease;
}

.listSearch>button:hover{
  background-color: var(--puce);
  color: white;
}

.listResult {
  flex: 3;
}
