@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap');
.header {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.89), rgba(24, 18, 7, 0.6)),
    url(1.webp);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 30px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerText {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
}

.headerTitle {
  font-size: 6rem;
  font-family: 'Zilla Slab', serif;
}

.headerDesc {
  width: 700px;
  margin: 30px 0;
  font-size: 14px;
  margin: 20px 0px;
}

.headerBtn {
  width: 200px;
  padding: 10px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background: var(--puce);
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all .4s ease;
}

.headerBtn:hover {
  background: var(--burnt-Orange);
  font-size: 17px;
}

.headerSearchBtn {
  padding: 10px 20px;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  background: var(--puce);
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all .4s ease;
}

.headerSearch {
  height: 50px;
  background-color: #f0f0f0;
  box-shadow: 0 .3rem 1.5rem rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: var(--light-color);
  font-size: 14px;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 30px;
}

.headerSearchInput {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px;
  color: black;
  font-weight: 400;
}

.headerSearchText {
  color: var(--light-color);
  cursor: pointer;
  font-size: 14px;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid var(--burnt-Orange);
  color: var(--burnt-Orange);
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.optionCounterNumber {
  font-size: 12px;
}

#searchBtn {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
