.header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(77, 51, 5, 0.5)),
    url(HOTEL-1.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerTitle {
  width: 700px;
  color: white;
  font-size: 4rem;
}

.headerDescription {
  color: white;
  width: 700px;
}

.headerButton {
  display: inline-flex;
  align-items: center;
  background-color: #743800;
  color: #FFF;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  list-style: none;
}

.headerSearch {
  height: 40px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: #6d6d6d;
}

.headerSearchButton {
  display: inline-flex;
  align-items: center;
  color: #FFF;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #4f2500;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.headerSearchText {
  cursor: pointer;
  color: darkgrey;
}