.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title{
  margin-top: 10rem;
  text-align: center;
  font-size: 3rem;
  text-align: center;
  text-transform: none;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: var(--sand-Dollar);
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: var(--light-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 14px;
  font-weight: bold;
  color: var(--light-color);
}

.lsItem>input{
  height: 30px;
  border: none;
  padding: 5px;
  border-radius: 0.5rem;
}
.lsItem>span{
  height: 30px;
  font-size: 12px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions{
  padding: 10px;
}

.lsOptionText>small {
  font-weight: bold;
  font-style: italic;
  margin: 5px;
}

.lsOptionItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.lsOptionInput{
  width: 50px;
}

.listSearch>button{
  padding: 0.5rem 1rem;
  background-color: var(--burnt-Orange);
  color: white;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  transition: all .5s ease;
}

.listSearch>button:hover{
  background-color: var(--puce);
  color: white;
}

.listResult {
  flex: 3;
}


/* .hotelContainer {
  margin-top: 10rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sidebarWrapper {
  width: 25%;
  padding: 20px;
  border-right: 1px solid #ccc;
  background-color: #f4f4f4;
}

.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.bookNow {
  background-color: var(--sand-Dollar);
  box-shadow: var(--box-shadow);
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease;
  position: absolute;
  top: 10px;
  right: 0;
  padding: 10px 20px;
}

.hotelTitle {
  font-size: 24px;
  font-weight: bold;
  color: var(--light-color);
}

.hotelAddress {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotelDistance {
  font-size: 14px;
  color: var(--puce);
  font-weight: 500;
}

.hotelPriceHighlight {
  font-size: 14px;
  color: var(--burnt-Orange);
  font-weight: 500;
}

.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImgWrapper {
  width: 33%;
}

.hotelImg {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.hotelDetailsTexts {
  flex: 3;
}

.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
}

.hotelDetailsPrice {
  margin-bottom: 3rem;
  flex: 1;
  background-color: var(--sand-Dollar);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotelDetailsPrice > h1 {
  font-size: 18px;
  color: var(--light-color);
}
.hotelDetailsPrice > span {
  font-size: 14px;
}
.hotelDetailsPrice > h2 {
  font-weight: 300;
}
.hotelDetailsPrice > button {
  background-color: var(--puce);
  box-shadow: var(--box-shadow);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease;
}

.slider{
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg{
  width: 80%;
  height: 80vh;
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.arrow{
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}

.hotelContent {
  flex: 1;
  padding: 20px;
}

 */