header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  font-size: 1.7rem;
  font-weight: bolder;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease;
}

header .logoIcon {
  color: white;
  background-color: var(--burnt-Orange);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
}

header .logo:hover {
  color: var(--burnt-Orange);
}

header .navbar a {
  font-size: 16px;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
  position: relative;
}

header .navbar a::after{
  content: '';
  height: 3px;
  width: 0;
  background: var(--gold);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

header .navbar a:hover::after{
  width: 100%;
}

.navButton {
  font-size: 14px;
  background-color: rgb(114, 114, 114);
  color: white;
  font-size: 16px;
  border-radius: 30px;
  margin-left: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all .4s ease;
}

.navButton:hover {
  background-color: var(--burnt-Orange);
}
