.navbar {
  height: 2.5rem;
  padding: 0.8rem 0;
  background-color: #f0f0f0;
  box-shadow: 0 8px 24px #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4f2500;
}

.navButton {

  font-size: 14px;
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 20px;
  border: 2px solid #4f2500;
  padding: 10px 25px;
  cursor: pointer;
  color: black;
  transition: 0.5s ease;
}

.navButton:hover {
  background-color: #4f2500;
  color: white;
}
